{% extends 'base.html.twig' %}

{% block title %}Games Collections &middot; Amis
{% endblock %}

{% block body %}

	<div class="container">
		<div class="recherche-amis">
			<h2 class="text-center my-5">Ajouter des amis</h2>
			{{ form_start(form, {'attr': {'class': 'search-friends my-5'}}) }}
			<div class="input-group flex-nowrap">
				{{ form_errors(form.pseudo) }}
				{{ form_widget(form.pseudo) }}
				<button type="submit" class="input-group-text" id="basic-addon2">
					<ion-icon name="search-outline"></ion-icon>
				</button>
			</div>
			{{ form_end(form) }}
		</div>

		<div class="friends-list my-5">
			{% for friend in users %}
				<div class="crd-friend">
					<div class="crd-avatar">
						<img src="{{ asset('build/images/avatar/' ~ friend.avatar) }}" alt="avatar de {{ friend.pseudo }}">
					</div>
					<div class="crd-content">
						<div class="crd-pseudo">
							<a href="{{ path('app_friends_collection', {'id': friend.id}) }}">{{ friend.pseudo }}</a>
						</div>
						<div class="crd-content-bottom">
							<div class="crd-btn">
								<form action="{{ path('app_friends_add', {'id': friend.id}) }}" method="post">
									<button type="submit" class="friend-add">
										<ion-icon name="add-outline"></ion-icon>
									</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>


		<h2 class="text-center my-5">Liste des amis</h2>

		<div class="friends-list">
			{% for friend in friendsData %}
				<div class="crd-friend">
					<div class="crd-avatar">
						<img src="{{ asset('build/images/avatar/' ~ friend.avatar) }}" alt="avatar de {{ friend.pseudo }}">
					</div>
					<div class="crd-content">
						<div class="crd-pseudo">
							<a href="{{ path('app_friends_collection', {'id': friend.id}) }}">{{ friend.pseudo }}</a>
						</div>
						<div class="crd-content-bottom">
							<div class="crd-collection">
								<p>Collections :
									<small class="badge bg-secondary">{{friend.collection|length}}</small>
								</p>
							</div>
							<div class="crd-btn">
								<form action="{{ path('app_friends_remove', {'id': friend.id}) }}" method="post">
									<button type="submit" class="friend-remove">
										<ion-icon name="close-outline"></ion-icon>
									</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>

{% for message in app.flashes('success') %}
    <div class="flash-message success" style="display: none;">{{ message }}</div>
{% endfor %}

{% for message in app.flashes('error') %}
    <div class="flash-message error" style="display: none;">{{ message }}</div>
{% endfor %}

{% endblock %}
