{% extends 'base.html.twig' %}

{% block title %}GGC - Collections de {{pseudo}}
{% endblock %}

{% block body %}
<div class="body-content">
	<div class="container-fluid desktop-margin">
		<h1 class="text-center text-uppercase my-5">Collection de jeux de
			{{pseudo}}</h1>
		<div class="friends-games-template">
{% if games is not empty %}
	{% for game in games %}
		<div id="{{game.id}}" class="game-carte">
			<div class="carte-image">
				{% if game.cover is defined %}
					<a href="{{ path('game', {id: game.id}) }}"><img src="{{ game.cover.url }}" alt="{{ game.name }} cover"></a>
				{% else %}
					<a href="{{ path('game', {id: game.id}) }}"><img src="{{ asset('build/images/placeholder.jpg') }}" alt="{{ game.name }} cover"></a>
				{% endif %}
				{% if game.category != "jeu de base" %}
					<small class="carte-category">{{ game.category }}</small>
				{% endif %}
			</div>
			<div class="carte_body">
				<div class="carte_body-title">
					<a href="{{ path('game', {id: game.id}) }}">
						<h2>{{ game.name|length > 30 ? game.name|slice(0, 30) ~ '...' : game.name }}</h2>
					</a>
				</div>
				<div class="carte_body-platforms carte-infos">
					{% if game.platforms is defined %}
						{% for platform in game.platforms %}
							<small id="platform_id-{{platform.id}}" class="carte-platforms badge">{{ platform.abbreviation|default(platform.name) }}</small>
						{% endfor %}
					{% endif %}
				</div>
				<div class="carte_body-footer">
					<div class="carte_footer-release">
						{% if game.first_release_date is defined %}
							<p>
								<span class="badge bg-secondary">{{ game.first_release_date|date('d/m/Y') }}</span>
							</p>
						{% endif %}
					</div>
					<div class="carte_footer-rating">
						{% if game.aggregated_rating is defined %}
							<p>
								{% if game.aggregated_rating|round >= 75 %}
									<span class="score score-green">{{ game.aggregated_rating|round }}%</span>
								{% elseif game.aggregated_rating|round >= 50 %}
									<span class="score score-blue">{{ game.aggregated_rating|round }}%</span>
								{% elseif game.aggregated_rating|round >= 25 %}
									<span class="score score-yellow">{{ game.aggregated_rating|round }}%</span>
								{% elseif game.aggregated_rating|round >= 0 %}
									<span class="score score-red">{{ game.aggregated_rating|round }}%</span>
								{% elseif game.aggregated_rating|round == 0 %}
									<span class="score score-null">N/A</span>
								{% else %}
									<span class="score score-null">N/A</span>
								{% endif %}
							</p>
						{% elseif game.rating is defined %}
							<p>
								{% if game.rating|round >= 75 %}
									<span class="score score-green">{{ game.rating|round }}%</span>
								{% elseif game.rating|round >= 50 %}
									<span class="score score-blue">{{ game.rating|round }}%</span>
								{% elseif game.rating|round >= 25 %}
									<span class="score score-yellow">{{ game.rating|round }}%</span>
								{% elseif game.rating|round >= 0 %}
									<span class="score score-red">{{ game.rating|round }}%</span>
								{% else %}
									<span class="score score-null">N/A</span>
								{% endif %}
							</p>

						{% else %}
							<p>
								<span class="score score-null">N/A</span>
							</p>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
{% else %}
	<p>{{pseudo}} n'a pas de jeux dans sa collection</p>
{% endif %}

		</div>

</div>
	</div>
{% endblock %}
