<div class="games_cards">
	{% for game in games %}
		<div class="game_card">
			<button class="add-collection"><svg class="icon-add" viewBox="0 0 512 512"><path fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M256 112v288M400 256H112"/></svg></button>
			<a href="/game/{{game.id}}">
				<div class="game_card_img">
					{% if game.cover is defined %}
						<img src="{{game.cover.url}}" alt="{{game.name}}">
					{% else %}
						<img src="{{ asset('build/images/placeholder.jpg') }}" alt="{{game.name}}">
					{% endif %}
				</div>
				<div class="game_card_info">
					<div class="game_card_info-content">

					</div>
				</div>
			</a>
		</div>
	{% endfor %}
</div>
