{% extends 'base.html.twig' %}

{% block title %}GGC - Inscription
{% endblock %}

{% block body %}
	<div class="body-content auth-container">
		<div class="container">

			{% if is_granted('IS_AUTHENTICATED_FULLY') or is_granted('IS_AUTHENTICATED_REMEMBERED') %}
				{# L'utilisateur est authentifié, vous pouvez mettre ici le code à exécuter si l'utilisateur est authentifié #}
			{% else %}
				<div class="login_test">
					<p class="login_test-info">Pour tester l'application :</p>
					<p class="login_test-text">email :
						<span>test@test.test</span>
					</p>
					<p class="login_test-text">mot de pass :
						<span>password</span>
					</p>
				</div>
			{% endif %}

			<div class="formulaire_register">
				<div class="login_register-link">
					<h3>Vous avez déja un compte ?</h3>
					<p>Connecté vous a votre compte et échangé la communauté</p>
					<a href="{{ path('app_login') }}" class="btn btn-lg">login</a>
				</div>

				<div class="register">
					<form method="post">
						<h2>Register</h2>
						{{ form_start(registrationForm) }}
						<div class="login-input">
							{{ form_row(registrationForm.pseudo) }}
							{{ form_row(registrationForm.email) }}
							{{ form_row(registrationForm.plainPassword) }}
							<div class="register_form-checkbox">
								<label for="registration_form_agreeTerms">Accepter CGU</label>
								{{ form_widget(registrationForm.agreeTerms) }}
							</div>
							<button class="btn btn-lg" type="submit">
								Register
							</button>
							{{ form_errors(registrationForm) }}
						</div>
						{{ form_end(registrationForm) }}
					</form>
				</div>

			</div>
		</div>

	</div>
</div>{% endblock %}
