{% extends 'base.html.twig' %}

{% block title %}
	{{controller_name}}
{% endblock %}

{% block body %}
	<div class="body-content">
		<div class="container">
			<div class="page-title">
				<h1 class="page-title">Votre Collection de jeux</h1>
			</div>
			{% if userGamesId is not empty %}
				<div class="user-game_filter">
					<div class="filter_collections" data-all="{{userGamesId}}">
						<button id="filterCollections" class="user_filter_button" data-collections="{{ collectionIds|join(', ') }}">Collections</button>
						<button id="filterLikes" class="user_filter_button" data-likes="{{ likeIds|join(', ') }}">likes</button>
						<button id="filterWishes" class="user_filter_button" data-wishes="{{ wishIds|join(', ') }}">Liste de souhaites</button>
					</div>
					<div class="filter_platforms"></div>
				</div>
			{% endif %}
			<div class="user-game-template">
				{% include 'user/games/_collection_games.html.twig' %}


			</div>
		</div>
	</div>
{% endblock %}
