{% extends 'base.html.twig' %}

{% block title %}
	{{game.name}}
{% endblock %}

{% block body %}
	<div class="body-content">


		<div class="background_top">
			{% if game.artworks is defined %}
				{% set artwork = game.artworks|first %}
				<img class="background_top-image" src="{{artwork.url}}" alt="artwork de {{game.name}}">
			{% endif %}
		</div>

		<div class="fil_ariane">
			<ul class="fil_ariane_list">
				<li class="fil_ariane_list-item">détails du jeu</li>
				<li class="fil_ariane_list-item">collections</li>
				<li class="fil_ariane_list-item">médias</li>
			</ul>
		</div>

		<div class="game-details">

			<div class="game_presentation container p-0">
				<div class="game_cover">
					<img class="game_cover-image" src="{{game.cover.url}}" alt="cover de {{game.name}}">
				</div>
				<div class="game_titles">
					<div class="title">
						<h1>{{game.name}}</h1>
					</div>
					<div class="released">
						<p>{{game.first_release_date|date("d/m/Y")}}</p>
					</div>
					<div class="developer">
						<p>Developpeur</p>
					</div>
				</div>
			</div>
			<div class="game_informations">
				<div class="container p-0 game_informations-content">
					<div class="game_rating">
						{% if game.rating is defined %}
							<p>{{game.rating}}</p>
						{% endif %}
					</div>
					<div class="informations">
						<div class="information_header">
							<nav class="information_nav">
								<button class="information_nav-link information_nav-link-active" data-target="infos">informations</button>
								<button class="information_nav-link" data-target="histoire">histoire</button>
								<button class="information_nav-link" data-target="teams">éditeur(s)/développeur(s)</button>
								<button class="information_nav-link" data-target="liens-externes">liens externes</button>
								<div class="information_nav-button">
									<button class="information_nav-link-previous">
										<svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewbox="0 0 512 512"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48" d="M328 112L184 256l144 144"/></svg>
									</button>
									<button class="information_nav-link-next">
										<svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewbox="0 0 512 512"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48" d="M184 112l144 144-144 144"/></svg>
									</button>
								</div>
							</nav>
						</div>
						<div class="information_body">
							<div id="infos" class="information_body-content information_body-content-active">
								<p>Information</p>
							</div>
							<div id="histoire" class="information_body-content">

								{% if game.summary is defined %}
									<div class="game_summary">
										<h3>Résumé :</h3>
										<p>{{game.summary}}</p>
									</div>
								{% endif %}
								{% if game.storyline is defined %}
									<div class="game_storyline">
										<h3>Histoire :</h3>
										<p>{{game.storyline}}</p>
									</div>
								{% endif %}

							</div>
							<div id="teams" class="information_body-content">
								<p>éditeur(s)/développeur(s)</p>
							</div>
							<div id="liens-externes" class="information_body-content">
								<p>liens externes</p>
							</div>
						</div>
					</div>
				</div>
			</div>


			{% if franchiseGame == true or game.dlcs is defined or game.expansions is defined  %}
				<div class="game_collection container">
					<nav class="collection_header">
						{% if game.franchises is defined %}
							<button id="collection_button-franchises" class="collection_nav-link collection_nav-link-active">franchises</button>
						{% endif %}
						{% if game.dlcs is defined %}
							<button id="collection_button-dlcs" class="collection_nav-link">dlcs</button>
						{% endif %}
						{% if game.expansions is defined %}
							<button id="collection_button-expansions" class="collection_nav-link">extansions</button>
						{% endif %}
					</nav>
					<div class="collection_body" data-collection="{{ collection|json_encode|e('html_attr') }}">
						<div class="collection_body-left">
							<div
								class="left_informations">{# <h3 class="collection_title"></h3> #}
							</div>
							<div class="left_covers">
								<div class="collection_cover-active"></div>
								<div class="collection_covers"></div>
							</div>
							<div class="left_platforms">
								<h3>Platformes Displonibles :</h3>
								<div class="collections_platforms"></div>
							</div>
						</div>
						<div class="collection_body-right">
							<div class="right_background">
								<div class="collection_cover-background"></div>
							</div>
							<div class="buttons_group">
								<button id="collection-previous">
									<svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewbox="0 0 512 512"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48" d="M328 112L184 256l144 144"/></svg>
								</button>
								<button id="collection-next">
									<svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewbox="0 0 512 512"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48" d="M184 112l144 144-144 144"/></svg>
								</button>
							</div>
						</div>
					</div>
				</div>
			{% endif %}
		{% endblock %}
