{% extends 'base.html.twig' %}

{% block title %}
	{{game.name}}
{% endblock %}

{% block body %}

	<div class="body-content">


		<div class="background_top">
			{% if game.artworks is defined %}
				{% set artwork = game.artworks|first %}
				<img class="background_top-image" src="{{artwork.url}}" alt="artwork de {{game.name}}">
			{% endif %}
		</div>


		<div class="scroll_menu">
			<ul class="scroll_menu_list">
				<li class="scroll_menu_list-item">
					<button id="scroll-game_informations">détails du jeu</button>
				</li>

				{% if collectionGame == true and game.dlcs is defined and game.expansions is defined %}
					<li class="scroll_menu_list-item">
						<button id="scroll-game_collection">Collection / dlcs / expansions</button>
					</li>
				{% elseif collectionGame == true and game.dlcs is defined %}
					<li class="scroll_menu_list-item">
						<button id="scroll-game_collection">Collection / dlcs</button>
					</li>
				{% elseif collectionGame == true and game.expansions is defined %}
					<li class="scroll_menu_list-item">
						<button id="scroll-game_collection">Collection / expansions</button>
					</li>
				{% elseif game.dlcs is defined and game.expansions is defined %}
					<li class="scroll_menu_list-item">
						<button id="scroll-game_collection">dlcs / expansions</button>
					</li>
				{% elseif collectionGame == true %}
					<li class="scroll_menu_list-item">
						<button id="scroll-game_collection">Collection</button>
					</li>
				{% elseif game.dlcs is defined %}
					<li class="scroll_menu_list-item">
						<button id="scroll-game_collection">dlcs</button>
					</li>
				{% elseif game.expansions is defined %}
					<li class="scroll_menu_list-item">
						<button id="scroll-game_collection">expansions</button>
					</li>
				{% endif %}

				{% if medias.videos is defined or medias.screenshots is defined %}
					<li class="scroll_menu_list-item">
						<button id="scroll-game_medias">Médias</button>
					</li>
				{% endif %}
				{% if franchisesGame == true and franchises is defined  %}
					<li class="scroll_menu_list-item">
						<button id="scroll-game_franchises">Franchises</button>
					</li>
				{% endif %}
			</ul>
		</div>


		<div class="game-details">


			<div class="game_presentation container p-0">
				<div class="game_cover">
					<img class="game_cover-image" src="{{game.cover.url}}" alt="cover de {{game.name}}">
				</div>
				<div class="game_titles">
					<div class="title">
						<h1>{{game.name}}</h1>
					</div>
					<div class="released">
						<p class="badge">{{game.first_release_date|date("d/m/Y")}}</p>
					</div>
					<div class="category">
						<p class="badge">{{game.category}}</p>
					</div>
				</div>
				<div class="game_user_collections">
					<button class="user_collection-button  {{ game.id in collectionIds ? 'remove-collection' : 'add-collection' }}" data-gameid={{game.id}}>
						<div class="pophover pophover-collection">Collection</div>
						<svg height="800px" width="800px" version="1.1" class="collection_icon icon-collection" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewbox="0 0 32 32" xml:space="preserve">
							<path class="collection_ico-path icon-collection-path" d="M22,3H10C8.9,3,8,3.9,8,5v22.6c0,0.8,0.5,1.5,1.2,1.8c0.8,0.3,1.6,0.1,2.2-0.4l4.6-4.6l4.6,4.6c0.4,0.4,0.9,0.6,1.4,0.6
												c0.3,0,0.5,0,0.8-0.2c0.8-0.3,1.2-1,1.2-1.8V5C24,3.9,23.1,3,22,3z"/>
						</svg>
					</button>

					<button class="user_collection-button {{ game.id in likeIds ? 'remove-like' : 'add-like' }}" data-gameid={{game.id}}>
						<div class="pophover pophover-like">J'aime</div>
						<svg height="800px" width="800px" version="1.1" class="collection_icon icon-like" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 800 800" style="enable-background:new 0 0 800 800;" xml:space="preserve">
							<path class="collection_icon-path icon-like-path" d="M66.7,304.6c0,162.1,134,248.5,232.1,325.8c34.6,27.3,67.9,53,101.3,53s66.7-25.7,101.3-53
												c98.1-77.3,232.1-163.7,232.1-325.8C733.3,142.5,550,27.5,400,183.4C250,27.5,66.7,142.5,66.7,304.6z"/>
						</svg>
					</button>

					<button class="user_collection-button {{ game.id in wishIds ? 'remove-wishlist' : 'add-wishlist' }}" data-gameid={{game.id}}>
						<div class="pophover pophover-wishlist">Suivre</div>
						<svg height="800px" width="800px" class="collection_icon icon-wishlist" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path class="collection_icon-path icon-wishlist-path" d="M9.15316 5.40838C10.4198 3.13613 11.0531 2 12 2C12.9469 2 13.5802 3.13612 14.8468 5.40837L15.1745 5.99623C15.5345 6.64193 15.7144 6.96479 15.9951 7.17781C16.2757 7.39083 16.6251 7.4699 17.3241 7.62805L17.9605 7.77203C20.4201 8.32856 21.65 8.60682 21.9426 9.54773C22.2352 10.4886 21.3968 11.4691 19.7199 13.4299L19.2861 13.9372C18.8096 14.4944 18.5713 14.773 18.4641 15.1177C18.357 15.4624 18.393 15.8341 18.465 16.5776L18.5306 17.2544C18.7841 19.8706 18.9109 21.1787 18.1449 21.7602C17.3788 22.3417 16.2273 21.8115 13.9243 20.7512L13.3285 20.4768C12.6741 20.1755 12.3469 20.0248 12 20.0248C11.6531 20.0248 11.3259 20.1755 10.6715 20.4768L10.0757 20.7512C7.77268 21.8115 6.62118 22.3417 5.85515 21.7602C5.08912 21.1787 5.21588 19.8706 5.4694 17.2544L5.53498 16.5776C5.60703 15.8341 5.64305 15.4624 5.53586 15.1177C5.42868 14.773 5.19043 14.4944 4.71392 13.9372L4.2801 13.4299C2.60325 11.4691 1.76482 10.4886 2.05742 9.54773C2.35002 8.60682 3.57986 8.32856 6.03954 7.77203L6.67589 7.62805C7.37485 7.4699 7.72433 7.39083 8.00494 7.17781C8.28555 6.96479 8.46553 6.64194 8.82547 5.99623L9.15316 5.40838Z" stroke="#1C274C" stroke-width="1.5"/>
						</svg>
					</button>
				</div>
			</div>


			<div class="game_informations">
				<div class="container p-0 game_informations-content">

					<div class="game_informations-content-side">
						<div class="game_age_ratings">
							<h3>Classification Pegi</h3>
							<div class="game_age_ratings-icons">
								{% if game.age_ratings is defined %}
									{% for ageRating in game.age_ratings %}
										{% if ageRating.category == 2 %}
											{# <p>{{ageRating.company}}</p> #}
											<img src="{{asset(ageRating.image)}}" alt="logo de l'age minimum de {{ageRating.name}}">
											{% if ageRating.content_descriptions is defined %}
												{% for ageRatingDescritpion in ageRating.content_descriptions %}
													{# <p>{{ageRatingDescritpion.name}}</p> #}
													<img src="{{asset(ageRatingDescritpion.image)}}" alt="logo {{ageRatingDescritpion.name}} de {{ageRating.company}}">
												{% endfor %}
											{% endif %}
										{% endif %}
									{% endfor %}
								{% else %}
									<p>Pas de données de classification PEGI</p>
								{% endif %}
							</div>
						</div>


						<div class="game_notes">

							<div class="game_rating">
								<div class="game_rating-graph">
									{% if game.rating is defined %}
										<canvas id="ratingGraph" data-rating="{{ game.rating|round }}" width="150" height="150"></canvas>
										{% if game.rating|round >= 75 %}
											<p class="rating-green">{{ game.rating|round }}%</p>
										{% elseif game.rating|round >= 50 %}
											<p class="rating-blue">{{ game.rating|round }}%</p>
										{% elseif game.rating|round >= 25 %}
											<p class="rating-yellow">{{ game.rating|round }}%</p>
										{% else %}
											<p class="rating-red">{{ game.rating|round }}%</p>
										{% endif %}
									{% else %}
										<canvas id="ratingGraphNull" width="150" height="150"></canvas>
										<p class="rating-null">N/A</p>
									{% endif %}
								</div>
								{% if game.rating_count is defined %}
									<p class="game_rating-title">Basé sur
										{{game.rating_count}}
										votes de la communauté IGDB</p>
								{% else %}
									<p class="game_rating-title-null">Pas encore de notes</p>
								{% endif %}
							</div>

							<div class="game_rating">
								<div class="game_rating-graph">
									{% if game.aggregated_rating is defined %}
										<canvas id="aggregatedRatingGraph" data-rating="{{ game.aggregated_rating|round }}" width="115" height="115"></canvas>
										{% if game.aggregated_rating|round >= 75 %}
											<p class="rating-green">{{ game.aggregated_rating|round }}%</p>
										{% elseif game.aggregated_rating|round >= 50 %}
											<p class="rating-blue">{{ game.aggregated_rating|round }}%</p>
										{% elseif game.aggregated_rating|round >= 25 %}
											<p class="rating-yellow">{{ game.aggregated_rating|round }}%</p>
										{% else %}
											<p class="rating-red">{{ game.aggregated_rating|round }}%</p>
										{% endif %}
									{% else %}
										<canvas id="aggregatedRatingChartNull" width="115" height="115"></canvas>
										<p class="rating-null">N/A</p>
									{% endif %}
								</div>
								{% if game.aggregated_rating_count is defined %}
									<p class="game_rating-title">Basé sur
										{{game.aggregated_rating_count}}
										tests</p>
								{% else %}
									<p class="game_rating-title-null">Pas encore de notes</p>
								{% endif %}
							</div>

						</div>


					</div>

					<div class="informations">
						<div class="information_header">
							<nav class="information_nav">
								<button class="information_nav-link information_nav-link-active" data-target="infos">informations</button>
								<button class="information_nav-link" data-target="histoire">histoire</button>
								<button class="information_nav-link" data-target="teams">éditeur(s)/développeur(s)</button>
								<button class="information_nav-link" data-target="liens-externes">liens externes</button>
								<div class="information_nav-button">
									<button class="information_nav-link-previous">
										<svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewbox="0 0 512 512"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48" d="M328 112L184 256l144 144"/></svg>
									</button>
									<button class="information_nav-link-next">
										<svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewbox="0 0 512 512"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48" d="M184 112l144 144-144 144"/></svg>
									</button>
								</div>
							</nav>
						</div>
						<div class="information_body">

							<div id="infos" class="information_body-content information_body-content-active">
								<div class="infos_body">
									{% if game.platforms is defined %}
										<div class="infos_platforms infos_groupes">
											<h3>Platformes</h3>
											<div class="platforms infos_items">
												{% for platform in game.platforms %}
													<p>{{ platform.name }}</p>
												{% endfor %}
											</div>
										</div>
									{% endif %}
									{% if game.genres is defined %}
										<div class="infos_genres infos_groupes">
											<h3>Genres</h3>
											<div class="genres infos_items">
												{% for genre in game.genres %}
													<p>{{ genre.name }}</p>
												{% endfor %}
											</div>
										</div>
									{% endif %}
									{% if game.game_modes is defined %}
										<div class="infos_modes infos_groupes">
											<h3>Modes</h3>
											<div class="modes infos_items">
												{% for mode in game.game_modes %}
													<p>{{ mode.name }}</p>
												{% endfor %}
											</div>
										</div>
									{% endif %}
									{% if game.themes is defined %}
										<div class="infos_themes infos_groupes">
											<h3>Thèmes</h3>
											<div class="themes infos_items">
												{% for theme in game.themes %}
													<p>{{ theme.name }}</p>
												{% endfor %}
											</div>
										</div>
									{% endif %}
									{% if game.player_perspectives is defined %}
										<div class="infos_player_perspectives infos_groupes">
											<h3>Player Perspectives</h3>
											<div class="player_perspectives infos_items">
												{% for playerPerspective in game.player_perspectives %}
													<p>{{ playerPerspective.name }}</p>
												{% endfor %}
											</div>
										</div>
									{% endif %}
									{% if game.multiplayer_modes is defined %}
										<div class="infos_multiplayer_modes infos_groupes">
											<h3>Modes Multijoueurs</h3>
											<div class="multiplayer_modes infos_items">
												{% for multiplayerModes in game.multiplayer_modes %}
													<div class="multiplayer_modes_platforms">
														{% if multiplayerModes.platform.name is defined %}
															<h4>{{multiplayerModes.platform.name}}</h4>
														{% endif %}
														<ul>
															{% if multiplayerModes.offlinecoop is defined %}
																<li>Offline Co-op :
																	{{multiplayerModes.offlinecoop ? '&#10004;' : '&#10008;' }}</li>
															{% endif %}
															{% if multiplayerModes.offlinecoopmax is defined %}
																<li>Offline Co-op max players :
																	{{multiplayerModes.offlinecoopmax}}</li>
															{% endif %}
															{% if multiplayerModes.offlinemax is defined %}
																<li>Offline max players :
																	{{multiplayerModes.offlinemax}}</li>
															{% endif %}
															{% if multiplayerModes.onlinecoop is defined %}
																<li>Online Co-op :
																	{{multiplayerModes.onlinecoop ? '&#10004;' : '&#10008;'}}</li>
															{% endif %}
															{% if multiplayerModes.onlinemax is defined %}
																<li>Online max players :
																	{{multiplayerModes.onlinemax}}</li>
															{% endif %}
															{% if multiplayerModes.onlinecoopmax is defined %}
																<li>Online Co-op max players :
																	{{multiplayerModes.onlinecoopmax}}</li>
															{% endif %}
															{% if multiplayerModes.campaigncoop is defined %}
																<li>Co-op Campaign :
																	{{multiplayerModes.campaigncoop ? '&#10004;' : '&#10008;'}}</li>
															{% endif %}
															{% if multiplayerModes.splitscreen is defined %}
																<li>Offline Split-Screen :
																	{{multiplayerModes.splitscreen ? '&#10004;' : '&#10008;'}}</li>
															{% endif %}
															{% if multiplayerModes.lancoop is defined %}
																<li>LAN Co-op :
																	{{multiplayerModes.lancoop ? '&#10004;' : '&#10008;'}}</li>
															{% endif %}
															{% if multiplayerModes.dropin is defined %}
																<li>Drop in/out :
																	{{multiplayerModes.dropin ? '&#10004;' : '&#10008;' }}</li>
															{% endif %}
														</ul>
													</div>
												{% endfor %}
											</div>
										</div>
									{% endif %}

								</div>
							</div>

							{% if game.summary is defined or game.storyline is defined %}
								<div id="histoire" class="information_body-content">
									{% if game.summary is defined %}
										<div class="game_summary">
											<h3>Résumé :</h3>
											<p>{{game.summary}}</p>
										</div>
									{% endif %}
									{% if game.storyline is defined %}
										<div class="game_storyline">
											<h3>Histoire :</h3>
											<p>{{game.storyline}}</p>
										</div>
									{% endif %}
								</div>
							{% endif %}

							{% if game.involved_companies is defined %}
								<div id="teams" class="information_body-content">

									{% set hasDeveloper = game.involved_companies|filter(company => company.developer == true)|length > 0 %}
									{% set hasPublisher = game.involved_companies|filter(company => company.publisher == true)|length > 0 %}
									{% set hasSupporting = game.involved_companies|filter(company => company.supporting == true)|length > 0 %}
									{% set hasPorting = game.involved_companies|filter(company => company.porting == true)|length > 0 %}

									{% if hasDeveloper %}
										<div class="teams_developper">
											<h4>Développeur</h4>
											<div class="teams-link">
												{% for companies in game.involved_companies %}
													{% if companies.developer == true %}
														{% if companies.company.websites is defined %}
															{% for teamWebsite in companies.company.websites %}
																<a href="{{teamWebsite.url}}">{{companies.company.name}}
																	<ion-icon class="teams-link-icon" name="link-outline"></ion-icon>
																</a>
															{% endfor %}
														{% else %}
															<p>{{companies.company.name}}</p>
														{% endif %}
													{% endif %}
												{% endfor %}
											</div>
										</div>
									{% endif %}

									{% if hasPublisher %}
										<div class="teams_publisher">
											<h4>publisher</h4>
											<div class="teams-link">
												{% for companies in game.involved_companies %}
													{% if companies.publisher == true %}
														{% if companies.company.websites is defined %}
															{% for teamWebsite in companies.company.websites %}
																<a href="{{teamWebsite.url}}">{{companies.company.name}}
																	<ion-icon class="teams-link-icon" name="link-outline"></ion-icon>
																</a>
															{% endfor %}
														{% else %}
															<p>{{companies.company.name}}</p>
														{% endif %}
													{% endif %}
												{% endfor %}
											</div>
										</div>
									{% endif %}

									{% if hasSupporting %}
										<div class="teams_supporting">
											<h4>supporting</h4>
											<div class="teams-link">
												{% for companies in game.involved_companies %}
													{% if companies.supporting == true %}
														{% if companies.company.websites is defined %}
															{% for teamWebsite in companies.company.websites %}
																<a href="{{teamWebsite.url}}">{{companies.company.name}}
																	<ion-icon class="teams-link-icon" name="link-outline"></ion-icon>
																</a>
															{% endfor %}
														{% else %}
															<p>{{companies.company.name}}</p>
														{% endif %}
													{% endif %}
												{% endfor %}
											</div>
										</div>
									{% endif %}

									{% if hasPorting %}
										<div class="teams_porting">
											<h4>porting</h4>
											<div class="teams-link">
												{% for companies in game.involved_companies %}
													{% if companies.porting == true %}
														{% if companies.company.websites is defined %}
															{% for teamWebsite in companies.company.websites %}
																<a href="{{teamWebsite.url}}">{{companies.company.name}}
																	<ion-icon class="teams-link-icon" name="link-outline"></ion-icon>
																</a>
															{% endfor %}
														{% else %}
															<p>{{companies.company.name}}</p>
														{% endif %}
													{% endif %}
												{% endfor %}
											</div>
										</div>
									{% endif %}
								</div>
							{% endif %}

							{% if game.websites is defined %}
								<div id="liens-externes" class="information_body-content">
									<div class="websites">
										{% for website in game.websites %}
											<a class="website_item" href="{{website.url}}">
												<img class="website_item-logo" src="{{asset(website.image)}}" alt="logo de {{website.category}}">
												<p class="website_item-name">{{website.category}}</p>
											</a>
										{% endfor %}
									</div>
								</div>
							{% endif %}

						</div>
					</div>
				</div>
			</div>


			{% if collectionGame == true or game.dlcs is defined or game.expansions is defined  %}
				<div class="game_collection container">
					<nav class="collection_header">
						{% if game.collection is defined %}
							<button id="collection_button-series" class="collection_nav-link collection_nav-link-active">collection</button>
						{% endif %}
						{% if game.dlcs is defined %}
							<button id="collection_button-dlcs" class="collection_nav-link">dlcs</button>
						{% endif %}
						{% if game.expansions is defined %}
							<button id="collection_button-expansions" class="collection_nav-link">extansions</button>
						{% endif %}
					</nav>
					<div class="collection_body" data-collection="{{ collection|json_encode|e('html_attr') }}">
						<div class="collection_body-left">
							<div
								class="left_informations">{# <h3 class="collection_title"></h3> #}
							</div>
							<div class="left_covers">
								<div class="collection_cover-active"></div>
								<div class="collection_covers"></div>
							</div>
							<div class="left_platforms">
								<h3>Platformes Displonibles :</h3>
								<div class="collections_platforms"></div>
							</div>
						</div>
						<div class="collection_body-right">
							<div class="right_background">
								<div class="collection_cover-background"></div>
							</div>
							<div class="buttons_group">
								<button id="collection-previous">
									<svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewbox="0 0 512 512"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48" d="M328 112L184 256l144 144"/></svg>
								</button>
								<button id="collection-next">
									<svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewbox="0 0 512 512"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48" d="M184 112l144 144-144 144"/></svg>
								</button>
							</div>
						</div>
					</div>
				</div>
			{% endif %}


			{% if medias.videos is defined or medias.screenshots is defined %}
				<div class="game_medias container">
					<nav class="medias_header">
						{% if medias.videos is defined %}
							<button id="media_button-video" class="media_nav-link media_nav-link-active">Vidéos</button>
						{% endif %}
						{% if medias.screenshots is defined %}
							<button id="media_button-screenshot" class="media_nav-link">Capture d'écran</button>
						{% endif %}
					</nav>
					<div class="medias_body">

						{% if medias.videos is defined %}
							<div class="media_videos">
								<iframe src="https://www.youtube.com/embed/{{medias.videos[0].video_id}}" frameborder="0" allowfullscreen></iframe>
							</div>

							<div class="media_thumbnails">
								{% for video in medias.videos %}
									{% set videoId = video.video_id %}
									{% set thumbnailUrl = "https://img.youtube.com/vi/" ~ videoId ~ "/0.jpg" %}
									<div class="thumbnail {% if loop.index0 == 0 %}video_active{% endif %}" data-video-id="{{ video.video_id }}">
										<img src="{{ thumbnailUrl }}" alt="Video thumbnail">
										<h4>{{ video.name }}</h4>
									</div>
								{% endfor %}
							</div>
						{% endif %}

						{% if medias.screenshots is defined %}
							<div class="media_screenshots">
								{% for screenshot in game.screenshots %}
									<div class="screenshot">
										<img id="item-{{ loop.index0 }}" src={{ screenshot.url }} loading="lazy">
									</div>
								{% endfor %}
							</div>
						{% endif %}
					</div>
					<div class="videos_buttons">
						<button id="video-previous">
							<svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewbox="0 0 512 512"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48" d="M328 112L184 256l144 144"/></svg>
						</button>
						<button id="video-next">
							<svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewbox="0 0 512 512"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48" d="M184 112l144 144-144 144"/></svg>
						</button>
					</div>
				</div>
			{% endif %}


			{% if franchisesGame == true and franchises is defined  %}
				<div class="game_franchises container">
					{# {% set franchiseSelected = franchises.franchises[0] %} #}
					{# {% set franchiseGame = franchiseSelected.games[0] %} #}
						<div class="franchises_header"> <div class="franchises-title">
							<h4>Franchise(s) de
								{{franchises.name}}</h4>
						</div>
						<nav class="franchises_nav">
							<div class="franchises_nav-content">
								{% for franchise in franchises.franchises %}
									{% if franchise.games is defined %}
										<button id="{{franchise.id}}" class="franchises_nav-buttons">{{franchise.name}}</button>
									{% endif %}
								{% endfor %}
							</div>
							<div class="franchises_nav-buttons-navigation">
								<button class="franchises_nav-link-previous">
									<svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewbox="0 0 512 512"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48" d="M328 112L184 256l144 144"/></svg>
								</button>
								<button class="franchises_nav-link-next">
									<svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewbox="0 0 512 512"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48" d="M184 112l144 144-144 144"/></svg>
								</button>
							</div>
						</nav>
					</div>
					<div class="franchises_body" data-franchises="{{ franchises.franchises|json_encode|e('html_attr') }}">
						<div class="franchise_detail"></div>
						<div class="franchises_body-list">
							<div class="franchises_list-game"></div>
						</div>
					</div>
					<div class="franchises_buttons">
						<button id="franchise-previous">
							<svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewbox="0 0 512 512"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48" d="M328 112L184 256l144 144"/></svg>
						</button>
						<button id="franchise-next">
							<svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewbox="0 0 512 512"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48" d="M184 112l144 144-144 144"/></svg>
						</button>
					</div>
				</div>
			{% endif %}


		</div>


	</div>
{% endblock %}
