{% extends 'base.html.twig' %}

{% block title %}
	{{game.name}}
{% endblock %}

{% block body %}

	<div class="body-content">


		<div class="background_top">
			{% if game.artworks is defined %}
				{% set artwork = game.artworks|first %}
				<img class="background_top-image" src="{{artwork.url}}" alt="artwork de {{game.name}}">
			{% endif %}
		</div>


		<div class="scroll_menu">
			<ul class="scroll_menu_list">
				<li class="scroll_menu_list-item">
					<button id="scroll-game_informations">détails du jeu</button>
				</li>

				{% if collectionGame == true and game.dlcs is defined and game.expansions is defined %}
					<li class="scroll_menu_list-item">                    
						<button id="scroll-game_collection">Collection / dlcs / expansions</button>
					</li>
				{% elseif collectionGame == true and game.dlcs is defined %}
					<li class="scroll_menu_list-item">                    
						<button id="scroll-game_collection">Collection / dlcs / expansions</button>
					</li>
				{% elseif collectionGame == true and game.expansions is defined %}
					<li class="scroll_menu_list-item">                    
						<button id="scroll-game_collection">Collection / expansions</button>
					</li>
				{% elseif game.dlcs is defined and game.expansions is defined %}
					<li class="scroll_menu_list-item">                    
						<button id="scroll-game_collection">dlcs / expansions</button>
					</li>
				{% elseif collectionGame == true %}
					<li class="scroll_menu_list-item">                    
						<button id="scroll-game_collection">Collection</button>
					</li>
				{% elseif game.dlcs is defined %}
					<li class="scroll_menu_list-item">                    
						<button id="scroll-game_collection">dlcs</button>
					</li>
				{% elseif game.expansions is defined %}
					<li class="scroll_menu_list-item">                    
						<button id="scroll-game_collection">expansions</button>
					</li>
				{% endif %}
				
				{% if medias.videos is defined or medias.screenshots is defined %}
					<li class="scroll_menu_list-item">
						<button id="scroll-game_medias">Médias</button>
					</li>
				{% endif %}
				{% if franchisesGame == true and franchises is defined  %}
					<li class="scroll_menu_list-item">
						<button id="scroll-game_franchises">Franchises</button>
					</li>
				{% endif %}
			</ul>
		</div>


		<div class="game-details">


			<div class="game_presentation container p-0">
				<div class="game_cover">
					<img class="game_cover-image" src="{{game.cover.url}}" alt="cover de {{game.name}}">
				</div>
				<div class="game_titles">
					<div class="title">
						<h1>{{game.name}}</h1>
					</div>
					<div class="released">
						<p>{{game.first_release_date|date("d/m/Y")}}</p>
					</div>
					<div class="developer">
						<p>Developpeur</p>
					</div>
				</div>
			</div>


			<div class="game_informations">
				<div class="container p-0 game_informations-content">
					<div class="game_rating">
						{% if game.rating is defined %}
							<p>{{game.rating}}</p>
						{% endif %}
					</div>
					<div class="informations">
						<div class="information_header">
							<nav class="information_nav">
								<button class="information_nav-link information_nav-link-active" data-target="infos">informations</button>
								<button class="information_nav-link" data-target="histoire">histoire</button>
								<button class="information_nav-link" data-target="teams">éditeur(s)/développeur(s)</button>
								<button class="information_nav-link" data-target="liens-externes">liens externes</button>
								<div class="information_nav-button">
									<button class="information_nav-link-previous">
										<svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewbox="0 0 512 512"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48" d="M328 112L184 256l144 144"/></svg>
									</button>
									<button class="information_nav-link-next">
										<svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewbox="0 0 512 512"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48" d="M184 112l144 144-144 144"/></svg>
									</button>
								</div>
							</nav>
						</div>
						<div class="information_body">
							<div id="infos" class="information_body-content information_body-content-active">
								<p>Information</p>
							</div>
							<div id="histoire" class="information_body-content">

								{% if game.summary is defined %}
									<div class="game_summary">
										<h3>Résumé :</h3>
										<p>{{game.summary}}</p>
									</div>
								{% endif %}
								{% if game.storyline is defined %}
									<div class="game_storyline">
										<h3>Histoire :</h3>
										<p>{{game.storyline}}</p>
									</div>
								{% endif %}

							</div>
							<div id="teams" class="information_body-content">
								<p>éditeur(s)/développeur(s)</p>
							</div>
							<div id="liens-externes" class="information_body-content">
								<p>liens externes</p>
							</div>
						</div>
					</div>
				</div>
			</div>


			{% if collectionGame == true or game.dlcs is defined or game.expansions is defined  %}
				<div class="game_collection container">
					<nav class="collection_header">
						{% if game.collection is defined %}
							<button id="collection_button-series" class="collection_nav-link collection_nav-link-active">collection</button>
						{% endif %}
						{% if game.dlcs is defined %}
							<button id="collection_button-dlcs" class="collection_nav-link">dlcs</button>
						{% endif %}
						{% if game.expansions is defined %}
							<button id="collection_button-expansions" class="collection_nav-link">extansions</button>
						{% endif %}
					</nav>
					<div class="collection_body" data-collection="{{ collection|json_encode|e('html_attr') }}">
						<div class="collection_body-left">
							<div
								class="left_informations">{# <h3 class="collection_title"></h3> #}
							</div>
							<div class="left_covers">
								<div class="collection_cover-active"></div>
								<div class="collection_covers"></div>
							</div>
							<div class="left_platforms">
								<h3>Platformes Displonibles :</h3>
								<div class="collections_platforms"></div>
							</div>
						</div>
						<div class="collection_body-right">
							<div class="right_background">
								<div class="collection_cover-background"></div>
							</div>
							<div class="buttons_group">
								<button id="collection-previous">
									<svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewbox="0 0 512 512"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48" d="M328 112L184 256l144 144"/></svg>
								</button>
								<button id="collection-next">
									<svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewbox="0 0 512 512"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48" d="M184 112l144 144-144 144"/></svg>
								</button>
							</div>
						</div>
					</div>
				</div>
			{% endif %}


			{% if medias.videos is defined or medias.screenshots is defined %}
				<div class="game_medias container">
					<nav class="medias_header">
						{% if medias.videos is defined %}
							<button id="media_button-video" class="media_nav-link media_nav-link-active">Vidéos</button>
						{% endif %}
						{% if medias.screenshots is defined %}
							<button id="media_button-screenshot" class="media_nav-link">Capture d'écran</button>
						{% endif %}
					</nav>
					<div class="medias_body">

						{% if medias.videos is defined %}
							<div class="media_videos">
								<iframe src="https://www.youtube.com/embed/{{medias.videos[0].video_id}}" frameborder="0" allowfullscreen></iframe>
							</div>

							<div class="media_thumbnails">
								{% for video in medias.videos %}
									{% set videoId = video.video_id %}
									{% set thumbnailUrl = "https://img.youtube.com/vi/" ~ videoId ~ "/0.jpg" %}
									<div class="thumbnail {% if loop.index0 == 0 %}video_active{% endif %}" data-video-id="{{ video.video_id }}">
										<img src="{{ thumbnailUrl }}" alt="Video thumbnail">
										<h4>{{ video.name }}</h4>
									</div>
								{% endfor %}
							</div>
						{% endif %}

						{% if medias.screenshots is defined %}
							<div class="media_screenshots">
								{% for screenshot in game.screenshots %}
									<div class="screenshot">
										<img id="item-{{ loop.index0 }}" src={{ screenshot.url }} loading="lazy">
									</div>
								{% endfor %}
							</div>
						{% endif %}
					</div>
					<div class="videos_buttons">
						<button id="video-previous">
							<svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewbox="0 0 512 512"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48" d="M328 112L184 256l144 144"/></svg>
						</button>
						<button id="video-next">
							<svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewbox="0 0 512 512"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48" d="M184 112l144 144-144 144"/></svg>
						</button>
					</div>
				</div>
			{% endif %}


			{% if franchisesGame == true and franchises is defined  %}
				<div class="game_franchises container">
					{# {% set franchiseSelected = franchises.franchises[0] %} #}
					{# {% set franchiseGame = franchiseSelected.games[0] %} #}
						<div class="franchises_header"> <div class="franchises-title">
							<h4>Franchise(s) de
								{{franchises.name}}</h4>
						</div>
						<nav class="franchises_nav">
							{% for franchise in franchises.franchises %}
								{% if franchise.games is defined %}
									<button id="{{franchise.id}}" class="franchises_nav-buttons">{{franchise.name}}</button>
								{% endif %}
							{% endfor %}
						</nav>
					</div>
					<div class="franchises_body" data-franchises="{{ franchises.franchises|json_encode|e('html_attr') }}">

						<div
							class="franchise_detail">{# <div class="franchise_detail-cover">
																																<img src="{{franchiseGame.cover.url}}" alt="cover de {{franchiseGame.name}}">
																																<div class="add_collections">
																																	<button class="add_collections-collection">add</button>
																																	<button class="add_collections-like">like</button>
																																	<button class="add_collections-wishlist">wish</button>
																																</div>
																															</div>
																															<div class="franchise_detail-body">
																																<div class="franchise_detail-title">
																																	<a href="{{ path('game', {id: franchiseGame.id}) }}">
																																		<h3>{{franchiseGame.name}}</h3>
																																	</a>
																																</div>
																																<div class="franchise_detail-summary">
																																	<p>{{franchiseGame.summary}}</p>
																																</div>
																																<div class="franchise_detail-released">
																																	<p>{{franchiseGame.first_release_date|date("d/m/Y")}}</p>
																																</div>
																															</div>
																															<div class="franchise_detail-platforms">
																																<h3>Platformes Displonibles :</h3>
																																<div class="franchise-platforms">
																																	{% for platform in franchiseGame.platforms %}
																																		<p>{{ platform.abbreviation|default(platform.name) }}</p>
																																	{% endfor %}
																																</div>
																															</div> #}
						</div>


						<div class="franchises_body-list">
							<div
								class="franchises_list-game">{# {% for game in franchiseSelected.games %}
																																					{% if game.first_release_date is defined %}
																																						<div class="franchise_card">
																																							<div class="franchise_card-cover">
																																								<img src="{{game.cover.url}}" alt="cover de {{game.name}}">
																																							</div>
																																							<div class="franchise_card-body">
																																								<div class="franchise_card-title">
																																									<a href="{{ path('game', {id: game.id}) }}">{{game.name}}</a>
																																								</div>
																																								<div class="franchise_card-released">
																																									<p>{{game.first_release_date|date("d/m/Y")}}</p>
																																								</div>
																																							</div>
																																						</div>
																																					{% endif %}
																																			{% endfor %} #}
							</div>
						</div>

					</div>
					<div class="franchises_buttons">
						<button id="franchise-previous">
							<svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewbox="0 0 512 512"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48" d="M328 112L184 256l144 144"/></svg>
						</button>
						<button id="franchise-next">
							<svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewbox="0 0 512 512"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48" d="M184 112l144 144-144 144"/></svg>
						</button>
					</div>
				</div>
			{% endif %}


		</div>


	</div>
{% endblock %}
