{% extends 'base.html.twig' %}

{% block title %}Games released this month
{% endblock %}

{% block body %}
	<div class="body-content">
		<div class="containers">


			<div class="game_title">
				{{game.name}}
			</div>


			<div class="game_artworks">
				{% if game.artworks is defined %}
					{% for artwork in game.artworks %}
						<div class="game_artwork">
							<img src="{{artwork.url}}" alt="artwork de {{game.name}}" width="150px" height="auto">
						</div>
					{% endfor %}
				{% endif %}
			</div>


			<div class="game_bundles">
				{% if game.bundles is defined %}
					{% for bundle in game.bundles %}
						{{bundle.name}}
					{% endfor %}
				{% endif %}
			</div>


			<div class="game_category">
				{% if game.category is defined %}
					{{game.category}}
				{% endif %}
			</div>


			<div class="game_cover">
				<img src="{{game.cover.url}}" alt="cover de {{game.name}}" width="150px" height="auto">
			</div>


			<div class="game_dlcs">
				{% if game.dlcs is defined %}
					{% for dlc in game.dlcs %}
						{{dlc.name}}
					{% endfor %}
				{% endif %}
			</div>


			<div class="game_expansions">
				{% if game.expansions is defined %}
					{% for expansion in game.expansions %}
						{{expansion.name}}
					{% endfor %}
				{% endif %}
			</div>


			<div class="game_relased">
				{{game.first_release_date|date("d/m/Y")}}
			</div>


			<div class="game_franchises">
				{% if game.franchises is defined %}
					{% for franchise in game.franchises %}
						{{franchise.name}}
						<div class="franchise_game">
							{% if franchise.games is defined %}
								{% for franchiseGame in franchise.games %}
									{{franchiseGame.name}}
								{% endfor %}
							{% endif %}
						</div>
					{% endfor %}
				{% endif %}
			</div>


			<div class="game_engines">
				{% if game.game_engines is defined %}
					{% for game_engine in game.game_engines %}
						<div class="game_engine">
							{{game_engine.name}}
						</div>
					{% endfor %}
				{% endif %}
			</div>


			<div class="game_modes">
				{% if game.game_modes is defined %}
					{% for gameMode in game.game_modes %}
						{{gameMode.name}}
					{% endfor %}
				{% endif %}
			</div>


			<div class="game_genres">
				{% if game.genres is defined %}
					{% for genre in game.genres %}
						{{genre.name}}
					{% endfor %}
				{% endif %}
			</div>


			<div class="game_companies">
				{% if game.involved_companies is defined %}
					{% for company in game.involved_companies %}
						{{company.id}}
						{% if company.company is defined %}
							{{company.company.name}}
						{% endif %}
					{% endfor %}
				{% endif %}
			</div>


			<div class="game_platforms">
				{% if game.platforms is defined %}
					{% for platform in game.platforms %}
						{{platform.name}}
						{% if platform.abbreviation is defined %}
							{{platform.abbreviation}}
						{% endif %}
					{% endfor %}
				{% endif %}
			</div>


			<div class="game_perspectives">
				{% if game.player_perspectives is defined %}
					{% for perspective in game.player_perspectives %}
						{{perspective.name}}
					{% endfor %}
				{% endif %}
			</div>


			<div class="game_rating">
				{% if game.rating is defined %}
					{{game.rating}}
				{% endif %}
			</div>


			<div class="game_rating_count">
				{% if game.rating_count is defined %}
					{{game.rating_count}}
				{% endif %}
			</div>


			<div class="game_screenshots">
				{% if game.screenshots is defined %}
					{% for screenshot in game.screenshots %}
						<div class="game_screenshot">
							<img src="{{screenshot.url}}" alt="screenshot de {{game.name}}" width="150px" height="auto">
						</div>
					{% endfor %}
				{% endif %}
			</div>


			<div class="game_similar_games">
				{% if game.similar_games %}
					{% for similarGame in game.similar_games %}
						{{similarGame.name}}
					{% endfor %}
				{% endif %}
			</div>


			<div class="game_storyline">
				{% if game.storyline is defined %}
					{{game.storyline}}
				{% endif %}


				<div class="game_summary">
					{% if game.summary is defined %}
						{{game.summary}}
					{% endif %}
				</div>


				<div class="game_themes">
					{% if game.themes is defined %}
						{% for theme in game.themes %}
							{{theme.name}}
						{% endfor %}
					{% endif %}
				</div>


				<div class="game_videos">
					{% if game.videos is defined %}
						{% for videos in game.videos %}
							{{videos.name}}
							{{videos.video_id}}
						{% endfor %}
					{% endif %}
				</div>


				<div class="game_websites">
					{% if game.websites is defined %}
						{% for website in game.websites %}
							{{website.category}}
							{{website.url}}
						{% endfor %}
					{% endif %}

				</div>

			</div>
		</div>
	{% endblock %}
