{% extends 'base.html.twig' %}

{% block title %}Sortie récente populaire
{% endblock %}

{% block body %}
<div class="body-content">
	<div class="search-game">
		<div class="container">
			<h1 class="text-center text-uppercase my-5">Résultat</h1>
			<div class="popular-game-template">
				{% for game in games %}
					<div class="game">
						<div class="game_image">
							{% if game.cover is defined %}
								<a href="{{ path('game', {id: game.id}) }}"><img src="{{ game.cover.url }}" alt="{{ game.name }} cover"></a>
							{% else %}
								<img src="{{ asset('build/images/placeholder.jpg') }}" alt="Cover placeholder">
							{% endif %}
						</div>
						<div class="game_body">
							<small class="badge text-bg-secondary category">{{ game.category }}</small>
							<div class="game_body--title">
								<h2>
									<a href="{{ path('game', {id: game.id}) }}">{{ game.name }}</a>
								</h2>
							</div>
							<div class="game_body--platforms">
								{% if game.platforms is defined %}
									{% for platform in game.platforms %}
										{% if platform.abbreviation is defined %}
											<small class="badge bg-primary">{{ platform.abbreviation }}</small>
										{% else %}
											<small class="badge bg-primary">{{ platform.name }}</small>
										{% endif %}
									{% endfor %}
								{% endif %}
							</div>
							<div class="game_body--genres">
								{% if game.genres is defined %}
									{% for genre in game.genres %}
										<small class="badge bg-success">{{ genre.name }}</small>
									{% endfor %}
								{% endif %}
							</div>
							<div class="game_body--footer">
								<div class="game_body--footer--release">
									{% if game.first_release_date is defined %}
										<p>
											<span class="badge bg-secondary">{{ game.first_release_date|date('d/m/Y') }}</span>
										</p>
									{% endif %}
								</div>
								<div class="game_body--footer--rating">
									{% if game.rating is defined %}
										<p>
											{% if game.rating|round >= 75 %}
												<span class="score score-green">{{ game.rating|round }}%</span>
											{% elseif game.rating|round >= 50 %}
												<span class="score score-blue">{{ game.rating|round }}%</span>
											{% elseif game.rating|round >= 25 %}
												<span class="score score-yellow">{{ game.rating|round }}%</span>
											{% else %}
												<span class="score score-red">{{ game.rating|round }}%</span>
											{% endif %}

										</p>

									{% endif %}
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>

{% endblock %}
