<header>
	<nav class="menu menu-hidden">
		<button
			class="menu-button" type="button">
			{# <img class="chevron-forward" src="{{ asset('build/images/icons/nav/chevron-forward-outline.svg') }}" alt="icon acceuil">
						<img class="chevron-back" src="{{ asset('build/images/icons/nav/chevron-back-outline.svg') }}" alt="icon acceuil"> #}

			<svg xmlns="http://www.w3.org/2000/svg" class="chevron-forward" viewbox="0 0 512 512"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48" d="M184 112l144 144-144 144"/></svg>

			<svg xmlns="http://www.w3.org/2000/svg" class="chevron-back" viewbox="0 0 512 512"><path fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="48" d="M328 112L184 256l144 144"/></svg>

		</button>
		<div class="menu_content">
			<a class="menu-logo menu-link" href="{{path('homepage')}}">
			<img src="{{asset('build/images/icons/platforms/all_platforms.svg')}}" alt="">
			<span class="link-title">Good Games Collections</span>
			</a>
			<ul class="menu_content-list">
				<li class="list_item">
					<a class="list_item-link menu-link {{ path('homepage') == app.request.pathinfo ? 'active' : '' }}" href="{{path('homepage')}}">
						<img src="{{ asset('build/images/icons/nav/home.svg') }}" alt="icon acceuil">
						<span class="link-title">Accueil</span>
					</a>
				</li>
				<li class="list_item ">
					<button class="list_item-link link-search">
						<img src="{{ asset('build/images/icons/nav/search.svg') }}" alt="icon search">
						<span class="link-title ">
							<form id="search-form" role="search" action="{{ path('search') }}" method="post">
								<input type="hidden" name="csrf_token" value="{{ csrf_token('search') }}">
								<input id="search-input" type="search" placeholder="Recherche" aria-label="Search" name="q" spellcheck="false">
							</form>
						</span>
					</button>
				</li>
				<li class="list_item">
					<a class="list_item-link menu-link {{ path('filter') == app.request.pathinfo ? 'active' : '' }}" href="{{path('filter')}}">
						<img src="{{ asset('build/images/icons/nav/filter.svg') }}" alt="icon filter">
						<span class="link-title">Filtres</span>
					</a>
				</li>
				<li class="list_item">
					<a class="list_item-link menu-link {{ path('app_newgames') == app.request.pathinfo ? 'active' : '' }}" href="{{path('app_newgames')}}">
						<img src="{{ asset('build/images/icons/nav/new.png') }}" alt="icon acceuil">
						<span class="link-title">Nouveautés</span>
					</a>
				</li>
				<li class="list_item">
					<a class="list_item-link menu-link {{ path('popular_games') == app.request.pathinfo ? 'active' : '' }}" href="{{path('popular_games')}}">
						<img src="{{ asset('build/images/icons/nav/popular.png') }}" alt="icon acceuil">
						<span class="link-title">Populaires</span>
					</a>
				</li>
				{% if is_granted('IS_AUTHENTICATED_FULLY') %}
					<li class="list_item">
						<a class="list_item-link menu-link {{ path('app_user_collection') == app.request.pathinfo ? 'active' : '' }}" href="{{path('app_user_collection')}}">
							<img src="{{ asset('build/images/icons/nav/collections.png') }}" alt="icon acceuil">
							<span class="link-title">Collection</span>
						</a>
					</li>
					<li class="list_item">
						<a class="list_item-link menu-link {{ path('app_friends') == app.request.pathinfo ? 'active' : '' }}" href="{{path('app_friends')}}">
							<img src="{{ asset('build/images/icons/nav/friends.png') }}" alt="icon acceuil">
							<span class="link-title">Amis</span>
						</a>
					</li>
					<div class="bottom-list">
						<li class="list_item">
							<a class="list_item-link menu-link menu-link-avatar {{ path('app_user_dashboard') == app.request.pathinfo ? 'active' : '' }}" href="{{path('app_user_dashboard')}}">
								<img src="{{ asset('build/images/avatar/' ~ app.user.avatar) }}" alt="avatar de {{app.user.pseudo}}">
								<span class="link-title">{{app.user.pseudo}}</span>
							</a>
						</li>
						<li class="list_item">
							<a class="list_item-link menu-link" href="{{path('app_logout')}}">
								<img src="{{ asset('build/images/icons/nav/logout.svg') }}" alt="icone de deconnexion">
								<span class="link-title">Déconnexion</span>
							</a>
						</li>
					</div>

				{% else %}
					<li class="list_item_user ">
						<div class="list_item_user-link {{ (path('app_login') == app.request.pathinfo or path('app_register') == app.request.pathinfo) ? 'active' : '' }}">
							<img class="icon-avatar" src="{{ asset('build/images/icons/nav/avatar.png') }}" alt="icon acceuil">
							<div class="list_item_user-link-login">
								<a class="link-login {{ path('app_login') == app.request.pathinfo ? 'security' : '' }}" href="{{ path('app_login') }}">Connection</a>
								<a class="link-register {{ path('app_register') == app.request.pathinfo ? 'security' : '' }}" href="{{ path('app_register') }}">Inscription</a>
							</div>
						</div>
					</li>
				{% endif %}

			</ul>
		</div>
	</nav>

</header>

<script>
	document.querySelector('.menu-button').addEventListener('click', function () {
document.querySelector('.body-content').classList.toggle('menu-open');
});
</script>
