<header>
	<nav class="menu">
		<button class="menu-button" type="button">
			<img class="chevron-back" src="{{ asset('build/images/icons/nav/chevron-back-outline.svg') }}" alt="icon acceuil">
			<img class="chevron-forward" src="{{ asset('build/images/icons/nav/chevron-forward-outline.svg') }}" alt="icon acceuil">
		</button>
		<div class="menu_content">
			<a class="menu-logo" href="#">Logo</a>
			<ul class="menu_content-list">
				<li class="list_item ">
					<button class="list_item-link link-search" href="#">
						<img src="{{ asset('build/images/icons/nav/search.svg') }}" alt="icon search">
						<span class="link-title ">
							<form class="" role="search">
								<input class="" type="search" placeholder="Recherche" aria-label="Search">
							</form>
						</span>
					</button>
				</li>
				<li class="list_item">
					<a class="list_item-link {{ path('homepage') == app.request.pathinfo ? 'active' : '' }}" href="{{path('homepage')}}">
						<img src="{{ asset('build/images/icons/nav/home.svg') }}" alt="icon acceuil">
						<span class="link-title">Accueil</span>
					</a>
				</li>
				<li class="list_item">
					<a class="list_item-link {{ path('app_newgames') == app.request.pathinfo ? 'active' : '' }}" href="{{path('app_newgames')}}">
						<img src="{{ asset('build/images/icons/nav/new.png') }}" alt="icon acceuil">
						<span class="link-title">Nouveautés</span>
					</a>
				</li>
				<li class="list_item">
					<a class="list_item-link {{ path('popular_games') == app.request.pathinfo ? 'active' : '' }}" href="{{path('popular_games')}}">
						<img src="{{ asset('build/images/icons/nav/popular.png') }}" alt="icon acceuil">
						<span class="link-title">Populaires</span>
					</a>
				</li>
				<li class="list_item list_item-user ">
					<a class="list_item-link" href="{{ path('app_login') }}">
						<img src="{{ asset('build/images/icons/nav/avatar.png') }}" alt="icon acceuil">
						<span class="link-title">
                        <a href="">Connection</a>
                        <a href="">Inscription</a>
                        </span>
					</a>
				</li>
			</ul>
		</div>
	</nav>

</header>

<script>
document.querySelector('.menu-button').addEventListener('click', toggleMenu);
document.querySelector('.link-search').addEventListener('click', openMenu);

function toggleMenu() {
    var menu = document.querySelector('.menu');
    var iconBack = document.querySelector('.chevron-back');
    var iconForward = document.querySelector('.chevron-forward');
    menu.classList.toggle('menu-hidden');
    if (menu.classList.contains('menu-hidden')) {
        iconBack.style.display = "none";
        iconForward.style.display = "block";
    } else {
        iconBack.style.display = "block";
        iconForward.style.display = "none";
    }
}

function openMenu() {
    var menu = document.querySelector('.menu');
    var iconBack = document.querySelector('.chevron-back');
    var iconForward = document.querySelector('.chevron-forward');
    if (menu.classList.contains('menu-hidden')) {
        menu.classList.remove('menu-hidden');
        iconBack.style.display = "block";
        iconForward.style.display = "none";
    }
}
</script>
