{% extends 'base.html.twig' %}

{% block title %}Homepage
{% endblock %}

{% block body %}
	<div class="body-content">
		<div
			class="container">

			{# <pre>
												{{ dump(games) }}
											</pre> #}

			<div class="homepage">
				<div class="filter">
					<div class="filter_btn">
						<button id="platforms" class="filter-btn">platforms</button>
						<button id="themes" class="filter-btn">themes</button>
						<button id="genres" class="filter-btn">genres</button>
						<button id="modes" class="filter-btn">modes</button>
						<button id="rating" class="filter-btn">rating</button>
						<button id="released" class="filter-btn">released</button>
					</div>

					<div class="filter_selected"></div>

					<div class="filter_show"></div>
				</div>


					<div id="games_sort"></div>



				<div id="games_list">
					<div class="games_cards homepage_games">
						{% for game in games %}
							<div class="game_card">
								<a href="/game/{{game.id}}">
									<div class="game_card_img">
										<img src="{{game.cover.url}}" alt="{{game.name}}">
									</div>
									<div class="game_card_info">
										<h3>{{game.name}}</h3>
									</div>
								</a>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>

	</div>
{% endblock %}


{# <div class="games-filters">
					<p>Platforms</p>
					<p>Genres</p>
					<div class="notes my-5">
						<div id="note-slider"></div>
					</div>
					<div class="dates my-5">
						<div id="date-slider"></div>
					</div>
					<div class="tri my-5">
						<button class="btn btn-small bg-primary">Asc</button>
						<button class="btn btn-small bg-primary">Desc</button>
					</div>
				</div> #}


{# {% for game in games %}

						<div class="game_card">
							<div class="game_card_img">
								{% if game.cover is defined %}
									<a href="{{ path('game', {id: game.id}) }}"><img src="{{ game.cover.url }}" alt="{{ game.name }} cover"></a>
								{% else %}
									<a href="{{ path('game', {id: game.id}) }}">
										<img src="{{ asset('build/images/placeholder.jpg') }}" alt="Cover placeholder">
									</a>
								{% endif %}
							</div>
						</div>
					{% endfor %} #}
