{% extends 'base.html.twig' %}

{% block title %}TEST COVER
{% endblock %}

{% block body %}


	<div class="body-content">
		<div class="container">

			<div class="pagination">
				<a href="{{ path('pagination', {'page': 1}) }}"><< First</a>
				{% if page > 1 %}
					<a href="{{ path('pagination', {'page': page - 1}) }}">< Prev</a>
				{% endif %}
				<form action="{{ path('pagination') }}" method="get" style="display: inline;">
					<input type="number" name="page" min="1" max="521" value="{{ page }}">
					<input type="submit" value="Go">
				</form>
				{% if page < 521 %}
					<a href="{{ path('pagination', {'page': page + 1}) }}">Next ></a>
				{% endif %}
				<a href="{{ path('pagination', {'page': 521}) }}">Last >></a>
			</div>

			{# <div class="row">
				{% for game in games %}
					<div class="card m-3" style="width: 18rem;">
						{% if game.cover is defined and game.cover.url matches '/t_cover_big\\//' %}
							<img src="{{game.cover.url}}" alt="" class="card-img-top" alt="...">
						{% else %}
							<img src="{{asset("build/images/placeholder.jpg")}}" alt="" class="card-img-top" alt="...">
						{% endif %}
						<div class="card-body">
							<h5 class="card-title">{{ game.name }}</h5>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							<a href="#" class="btn btn-primary">Go somewhere</a>
						</div>
					</div>
				{% endfor %}
			</div> #}

			<div class="pagination-template">
				{% for game in games %}
					<div class="game">
						<div class="game_image">
						{% if game.cover is defined and game.cover.url matches '/t_cover_big\\//' %}
								<a href="{{ path('game', {id: game.id}) }}"><img src="{{ game.cover.url }}" alt="{{ game.name }} cover"></a>
							{% else %}
								<img src="{{ asset('build/images/placeholder.jpg') }}" alt="Cover placeholder">
							{% endif %}
						</div>
						<div class="game_body">
							<div class="game_body--title">
								<h2>
									<a href="{{ path('game', {id: game.id}) }}">{{ game.name }}</a>
								</h2>
							</div>
							<div class="game_body--footer">
								<div class="game_body--footer--release">
									{% if game.first_release_date is defined %}
										<p>
											<span class="badge bg-secondary">{{ game.first_release_date|date('d/m/Y') }}</span>
										</p>
									{% endif %}
								</div>
								<div class="game_body--footer--rating">
									{% if game.rating is defined %}
										<p>
											{% if game.rating|round >= 75 %}
												<span class="score score-green">{{ game.rating|round }}%</span>
											{% elseif game.rating|round >= 50 %}
												<span class="score score-blue">{{ game.rating|round }}%</span>
											{% elseif game.rating|round >= 25 %}
												<span class="score score-yellow">{{ game.rating|round }}%</span>
											{% else %}
												<span class="score score-red">{{ game.rating|round }}%</span>
											{% endif %}

										</p>

									{% endif %}
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>

		</div>
	</div>
{% endblock %}
