<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" type="image/png" href="{{asset('build/images/favicon/favicon-32x32.png')}}" sizes="32x32"/>
		<link rel="icon" type="image/png" href="{{asset('build/images/favicon/favicon-16x16.png')}}" sizes="16x16"/>

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		{% block navbar %}
			{% include 'navbar/nav.html.twig' %}
		{% endblock %}

		{% block body %}{% endblock %}

		<div class="portfolio">
			<div class="portfolio_links">
				<a href="https://github.com/Larson007/GamesCollectionsIGDB" target="_blank" title="GitHub du site"><img src="{{asset('build/images/portfolio/github.png')}}" alt="logo github"></a>
				<a href="https://www.linkedin.com/in/mohamed-ben-allal/" target="_blank" title="Mon LinkedIn"><img src="{{asset('build/images/portfolio/linkedin.png')}}" alt="logo linkedin"></a>
				<a href="https://www.mbadev.fr/" target="_blank" title="Mon Portfolio"><img src="{{asset('build/images/portfolio/portfolio.png')}}" alt="logo portfolio"></a>
			</div>
		</div>


		<footer>
			<p>
				Site réalisé par <span>Mohamed Ben Allal</span>
				dans un projet de portfolio. Les informations des jeux proviennent de l'API
				<a href="https://www.igdb.com/" target="_blank">IGDB</a>
			</p>
			<p class="footer_contact">Contact :  <a href="mailto:mohamed.benallal.pro@gmail.com">mohamed.benallal.pro@gmail.com</a></p>
		</footer>

		<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
		<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
	</body>
</html>
